*{
    font-family: 'SUIT';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body {
    background-color: #eee;
}

#wrap {
    padding: 0 30px;
}

#login {
    width: 70%;
    max-width: 1000px;
    min-width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.3);
    display: flex;
}

#login-left {
    width: 50%;
    background: url(../imgs/loginleftbg.png) no-repeat;
    background-size: cover;
    border-radius: 30px 0px 0px 30px;
    padding:50px 30px;
}

#login-left h1 {
    font-size: 3rem;
    color: #fff;
    font-weight: 600;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#login-left h1::after{
    content: "";
    width: 100px;
    height: 3px;
    position: absolute;
    bottom:0;
    left:5px;
    background-color: #fff;
}

#login-left p {
    font-size: 2.4rem;
    font-weight: 400;
    color:#fff;
    margin-bottom: 10px;
}

#login-left ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}

#login-left ul li{
    background-color: #fff;
    border:2px solid #fff;
    border-radius: 20px;
    padding: 3px 10px;
    margin: 0px 5px 10px 0px;
    color:rgb(42, 124, 247);
    font-size: 1.4rem;
    font-weight: bold;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    transition: .3s;
}

#login-left ul li:hover{
    background-color: rgb(42, 124, 247);
    color:#fff;
}

#login-right {
    background: url(../imgs/loginrightbg.png) no-repeat;
    background-size: cover;
    width: 50%;
    border-radius: 0px 30px 30px 0px;
    padding:50px 30px;
    text-align: center;
}

#login-right .right_container{
    max-width: 200px;
    margin: 0 auto;
}

#login-right h2{
    font-size: 3rem;
    margin-bottom: 30px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    color:#555;
}

#login-right h2::after{
    content: "";
    height: 3px;
    width: 30px;
    position: absolute;
    bottom:0;
    left:50%;
    margin-left: -15px;
    background-color: rgb(42, 124, 247);
}

#login-right #login-form input[type="text"]{
    width: 100%;
    display: block;
    border: none;
    outline: none;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin-bottom: 30px;
    background-color: transparent;
    font-size: 1.6rem;
}

#login-right #login-form button {
    width: 100%;
    padding: 10px 0;
    border-radius: 30px;
    box-shadow: 0px 5px 5px rgba(0,0,0,.2);
    border: none;
    background-color: rgb(42, 124, 247);
    color:#fff;
    font-weight: bold;
    font-size: 1.4rem;
    transition: .3s;
    cursor: pointer;
}

#login-right #login-form button:hover{
    background-color: rgba(42, 124, 247, .8);
}